<h2>投稿詳細</h2>

<div class="">
  <p>タイトル</p>
  <p><%= @blog.title %></p>
</div>

<div class="">
  <p>内容</p>
  <p><%= @blog.content %></p>
</div>

<p class="to_other_page"><%= link_to '編集する', edit_blog_path(@blog) %></p>
<p class="to_other_page"><%= link_to '投稿一覧へ', blogs_path %></p>
