<h3>投稿詳細</h3>

<div class="blog_show">
  <p class="label">タイトル</p>
  <p class="detail"><%= @blog.title %></p>
</div>

<div class="blog_show">
  <p class="label">内容</p>
  <p class="detail"><%= @blog.content %></p>
</div>

<p class="to_other_page"><%= link_to '編集する', edit_blog_path(@blog) %></p>
<p class="to_other_page"><%= link_to '投稿一覧へ', blogs_path %></p>
